<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{model.anime.title}}</h3>
        </div>
        <div class="panel-body">
          {{anime-detail data=model.anime}}
          <div class="row">
            <div class="col-md-12">
              <p>Download : </p>
              <ul class="list-unstyled">
                {{#each model.link as |link|}}
                  <li>{{animeLinkDownload link}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
