<div class="container">
  <div class="row">
    <div class="col-md-8">
      {{#each model.items as |anime|}}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{#link-to 'anime' anime.download}}{{anime.title}}{{/link-to}}</h3>
          </div>
          <div class="panel-body">
            {{anime-detail data=anime}}
          </div>
          <div class="panel-footer">
            {{#link-to 'anime' anime.download class='btn btn-primary pull-right'}}Download{{/link-to}}
            <div class="clearfix"></div>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="col-md-4">
      {{partial 'sidebar'}}
    </div>
    <div class="col-md-12">
      {{nav-pagination data=model.pageStatus}}
    </div>
  </div>
</div>
